# xrandr --output DisplayPort-0 --primary --mode 1920x1080 --pos 1920x1080 --rotate normal --output DisplayPort-1 --mode 1920x1080 --pos 1920x0 --rotate normal --output DisplayPort-2 --mode 1920x1080 --pos 0x0 --rotate normal --output HDMI-A-0 --mode 1920x1080 --pos 0x1080 --rotate normal
exec ~/.fehbg &
picom -f &
numlockx &

{{ if (eq .chezmoi.hostname "desktop-arch") }}
ckb-next -b &
{{ end }}

/usr/bin/dunst &
xrdb /home/xander/.Xresources


{{ if (eq .chezmoi.hostname "laptop-arch") }}
xinput --set-prop 11 330 50
{{ end }}
xset s 3600
xset dpms 0 0 3600
xset m 0
xset b off
xset r rate 250 30


xbindkeys
setxkbmap -option 'ctrl:nocaps'
xcape -e 'Control_L=Escape'
