[theme]
theme = "dracula"
[theme.overrides]
separator=" "
[icons]
icons = "awesome"


[[block]]
block = "focused_window"

{{ if (eq .chezmoi.hostname "laptop-arch") }}

[[block]]
block = "networkmanager"
on_click = "alacritty -e nmtui"
interface_name_exclude = ["br\\-[0-9a-f]{12}", "docker\\d+"]
interface_name_include = []
ap_format = "{ssid^10}"

[[block]]
block = "backlight"

[[block]]
block = "battery"
interval = 10
format = "{percentage} {time}"


{{ end }}

[[block]]
block = "disk_space"
info_type = "available"
alert_unit = "GB"
alert = 10.0
warning = 15.0
format = " $used / $total"

[[block]]
block = "cpu"
interval = 1

[[block]]
block = "load"
interval = 1
format = "{1m}"

[[block]]
block = "memory"
format = " $icon $mem_used_percents.eng(1) "
format_alt = " $icon_swap $swap_free.eng(3,B,M)/$swap_total.eng(3,B,M)($swap_used_percents.eng(2)) "
interval = 30
warning_mem = 70
critical_mem = 90

[[block]]
block = "sound"

[[block]]
block = "time"
interval = 5
format = "%a %d/%m %R"


